 h1 {
	font-size: 42px;
	/*use margin auto on both sides to center the content horizontally*/
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    }
   p {
    border: 1px solid powderblue;
    padding: 30px;
    font-family: Helvetica, bold;
}
  body {
	max-width: 800px;
	min-width: 550px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, sans-serif;

}  
    
body {
  background-color: antiquewhite;
}