h2 { 
    display:inherit;
    color: white;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    }

.born{
    color: white;
	 width: 50px;
	 height: 30px;
	 display: inline-block;
     position:relative;
     top:20px;   
}

.answer{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:40px;
    right:45px;
    
}

.resides{
    color: white;
	 width: 50px;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:80px;
    right:175px;
}

.NY{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:100px;
    right:215px;
    
}

.education{
    color: white;
	 width: 50px;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:145px;
    right:275px;
}

.FIT{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:165px;
    right:320px;
    
}

.statement{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:235px;
    right:480px;   
}

.end{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:235px;
    right:480px; 
    
}

.summary{
    color: white;
	 width: 9;
	 height: 20px;
	 display: inline-block;
     position:relative;
     top:185px;
    right:-8.5px; 
    
    
    
}

a {
    text-decoration: none;
}